{% extends 'administrator/base.html' %}
{% load static %}
{% block title %}Produtos{% endblock title %}
{% block administrator_home_active %}active{% endblock %}
{% block administrator_home_current_page %} <span class="sr-only">Atual</span> {% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container my-4">
    <h2>Novo Produto</h2>
    <div class="row">

        <div class="col-3">
            <img src="{% static 'images/new_product.png' %}" alt="">
        </div>
        <div class="col-9">
            <form name="add-product-form">
                <div class="row">
                    <div class="col">
                        <label for="name">Nome</label>
                        <input type="text" name="name" class="form-control" />
                    </div>
                    <div class="col">
                        <label for="price">Preço</label>
                        <input type="text" name="price" class="form-control" placeholder="89.99" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Descrição</label>
                    <textarea name="description" class="form-control"></textarea>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>
                                Categoria
                            </label>
                            <select class="custom-select">
                                <option value="1" selected>Artesanato</option>
                                <option value="2">Casa Nova</option>
                                <option value="3">Natal</option>
                                <option value="4">Dia dos Namorados</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <label>
                            Ativo
                        </label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="active-flag" id="active" value="true">
                            <label class="form-check-label" for="active">
                                Sim
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="active-flag" id="inactive" value="false"
                                checked>
                            <label class="form-check-label" for="inactive">
                                Não
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <label>Desconto</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="active-flag" id="discount"
                                value="discount">
                            <label class="form-check-label" for="discount">
                                Pode aplicar?
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Fotos</label>
                            <input type="file" name="photos[]" multiple="true" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <button type="button" id="add-product" class="btn btn-success">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock content %}