{% extends 'administrator/base.html' %}
{% block title %}Produtos{% endblock title %}
{% block administrator_home_active %}active{% endblock %}
{% block administrator_home_current_page %} <span class="sr-only">Atual</span> {% endblock %}

{% block breadcrumb_list %}
<li class="breadcrumb-item active" aria-current="page">
    Produtos
</li>
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="row">
    <div class="container my-4">
        <div class="row">
            <div class="col-8 d-flex justify-content-start">
                <div id="filters">
                    <form class="form-inline">
                        <input class="form-control" type="search" placeholder="Pesquisar produtos..." />
                    </form>
                </div>
            </div>

            <div class="col-4 d-flex justify-content-end">
                <a href="/administrator/add_product">
                    <button class="btn btn-success">Novo</button>
                </a>
            </div>
        </div>

        <div class="row mt-4">
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Preço</th>
                            <th>Avaliação</th>
                            <th>Ativo</th>
                            <th>Editar</th>
                            <th>Deletar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in '0123456789'|make_list %}
                        <tr>
                            <td>Item {{ i }}</td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                            </td>
                            <td>R$ 24.99</td>
                            <td>4</td>
                            <td>Sim</td>
                            <td>
                                <a href="/administrator/add_product">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                            </td>
                            <td><i class="fas fa-trash-alt text-danger"></i></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <nav>
            <ul class="pagination justify-content-end">
                <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
            </ul>
        </nav>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock content %}