{% extends 'administrator/base.html' %}
{% load static %}
{% block title %}Produtos{% endblock title %}
{% block administrator_home_active %}active{% endblock %}
{% block administrator_home_current_page %} <span class="sr-only">Atual</span> {% endblock %}

{% block breadcrumb_list %}
<li class="breadcrumb-item">
    <a href="/administrator/products_list">
        Produtos
    </a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    Novo Produto
</li>
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container my-4">
    <h2>Novo Produto</h2>
    <div class="row">

        <div class="col-3">
            <img src="{% static 'images/new_product.png' %}" alt="">
        </div>
        <div class="col-9">
            <form name="add-product-form" enctype="multipart/form-data" method="POST" action="{% url 'save_product' %}">
            {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <label for="id_name">Nome</label>
                        {{ form.name }}
                    </div>
                    <div class="col">
                        <label for="id_price">Preço</label>
                        {{ form.price }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Descrição</label>
                    {{ form.description }}
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>
                                Categoria
                            </label>
                            {{ form.category }}
                        </div>
                    </div>
                    <div class="col">
                        <label>
                            Ativo
                        </label>
                        {{ form.active }}
                    </div>
                    <div class="col">
                        <label>Desconto</label>
                        <div class="form-check">
                            {{ form.discount }}
                            <label class="form-check-label" for="discount">
                                Pode aplicar?
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Fotos</label>

                            {{ formset.management_form }}
                            {% for form in formset %}
                            <div class='row'>
                                {{ form.image }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <button type="submit" id="add-product" class="btn btn-success">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock content %}