{% extends 'administrator/base.html' %}
{% load static %}
{% block title %}Editar Categoria {{ category.name }}{% endblock title %}
{% block categories_active %}active{% endblock %}
{% block categories_current_page %} <span class="sr-only">Atual</span> {% endblock %}

{% block breadcrumb_list %}
<li class="breadcrumb-item">
    <a href="/administrator/categories">
        Categorias
    </a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    Editar Categoria {{ category.name }}
</li>
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container my-4">
    <h2>Editar Categoria {{ category.name }}</h2>
    <div class="row">
        <div class="col-12">
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                </div>
            {% endfor %}
            <form method="POST" action="{% url 'update_category' category.id %}" name="edit-category-form" class="d-flex form-inline justify-content-between">
                {% csrf_token %}
                <div>
                    <label for="id_name" class="justify-content-start">Nome: </label>
                    {{ form.name }}
                </div>
                
                <div>
                    <label for="id_parent" class="justify-content-start">Categoria Pai: </label>
                    {{ form.parent }}
                </div>

                <div>
                    <button class="mt-4 btn btn-success" type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock content %}