
{% extends 'base.html' %}
{% block title %}Contato{% endblock title %}
{% block contact_active %}active{% endblock %}
{% block contact_current_page %} <span class="sr-only">Atual</span> {% endblock %}

{% block breadcrumb_list %}
<li class="breadcrumb-item active" aria-current="page">
  Contato
</li>
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container my-4">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-5">
      <form>
        <div class="form-group">
          <label for="name">Nome</label>
          <input class="form-control" type="text" name="name" placeholder="Maria Chiquinha" />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="email" name="email" placeholder="maria.chiquinha@gmail.com" />
        </div>

        <div class="form-group">
          <label for="email">Mensagem</label>
          <textarea class="form-control" name="message"></textarea>
        </div>

        <div class="form-group text-right">
          <button class="btn btn-success">
            Enviar
            <span class="sr-only">Enviar</span>
          </button>
        </div>
      </form>
    </div>

    <div class="col-1"></div>
    
    <!-- Conteúdo -->
    <div class="col-6">
      <div class="row">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.196839003869!2d-43.13644785005448!3d-22.90610948493862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x99817ee1756031%3A0xd1dcbde0df6f873c!2sAv.%20Milton%20Tavares%20de%20Souza%2C%20Niter%C3%B3i%20-%20RJ%2C%2024210-346!5e0!3m2!1spt-BR!2sbr!4v1576461433925!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
{% endblock content %}