{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block home_active %}active{% endblock %}
{% block home_current_page %} <span class="sr-only">Atual</span> {% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container my-4">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-3">
      <h1>Bolichen</h1>
      <div class="list-group">
        <a href="#" class="list-group-item">Categoria 1</a>
        <a href="#" class="list-group-item">Categoria 2</a>
        <a href="#" class="list-group-item">Categoria 3</a>
      </div>
    </div>

    <!-- Vitrine -->
    <div class="col-lg-9">
      <div class="row">
        {% for i in '123456789'|make_list %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#">
                <img class="card-img-top" src="{% static 'images/product_cover.png' %}" alt="">
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item {{ i }}</a>
                </h4>
                <h5>R$ 24,99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                </p>
              </div>
              <div class="card-footer d-inline-flex justify-content-between align-items-center">
                <small class="text-left text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                <button class="text-right btn btn-outline-primary">
                  Comprar
                </button>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
{% endblock content %}