{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block home_active %}active{% endblock %}
{% block breadcrumb_home_active %}active{% endblock %}
{% block home_current_page %} <span class="sr-only">Atual</span> {% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container my-4">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-3">
      <h1>Bolichen</h1>
      <div class="list-group">
        {% for category in categories %}
          <a href="#" class="list-group-item">{{ category.name }}</a>
        {% endfor %}
      </div>
    </div>

    <!-- Vitrine -->
    <div class="col-lg-9">
      <div class="row">
        {% for product in products %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="{% url 'product' product.id %}">
                <img class="card-img-top" src="{{ product.cover }}" alt="{{ product.name }}">
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{% url 'product' product.id %}">{{ product.name }}</a>
                </h4>
                <h5>{{ product.price }}</h5>
                <p class="card-text">
                  {{ product.description | slice:':255' }}
                </p>
              </div>
              <div class="card-footer d-inline-flex justify-content-between align-items-center">
                <small class="text-left text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                <button class="text-right btn btn-outline-primary">
                  Comprar
                </button>
              </div>
            </div>
          </div>
        {% endfor %}

          <button class="btn btn-success btn-block">
            <a href="{% url 'products' %}" class="text-decoration-none text-light">
              VER MAIS PRODUTOS
            </a>
          </button>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
{% endblock content %}