{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block our_history_active %} active {% endblock %}
{% block our_history_current_page %} <span class="sr-only">Atual</span> {% endblock %}

{% block breadcrumb_list %}
<li class="breadcrumb-item active" aria-current="page">
  {{ title }}
</li>
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container my-4">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-3">
      <h1>Bolichen</h1>
      <div class="list-group">
        <a href="#" class="list-group-item active">Nossa História</a>
        <a href="#" class="list-group-item">Trabalhe Conosco</a>
        <a href="#" class="list-group-item">Nossas Lojas</a>
      </div>
    </div>
    
    <!-- Conteúdo -->
    <div class="col-lg-9">
      <div class="row">
        <h1>{{ title }}</h1>

        {{ content | safe }}
      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
{% endblock content %}